
/******************** Connectiong Business CSS ********************/
section.connectiong_business {
  padding: 138px 0 0;
  position: relative;
}
section.connectiong_business::before {
  position: absolute;
  content: "";
  background: url(/public/images/bg_pattern.svg) no-repeat;
  width: 116%;
  height: 96%;
  bottom: -31%;
  background-size: cover;
  opacity: 0.15;
  left: 50%;
  transform: translateX(-50%);
}
.connectiong_business_title h2 {
  text-align: center;
  font-size: 83px;
  line-height: 103px;
  color: #0a0a0a;
  font-weight: 900;
  text-transform: uppercase;
  /* background-image: url(../images/Vector-Smart-Object-copy-10.png); */
  display: inline-block;
  background-position: -120px 19%;

  background-repeat: no-repeat;
}

.connectiong_business_title h2 strong {
  font-size: 131px;
  color: #956802;
  font-weight: 900;
  display: block;
  position: relative;
  mix-blend-mode: hard-light;
  background-color: white;
}

.connectiong_business_title {
  max-width: 70%;
  margin: 0 auto;
}
.connectiong_business_title h2 span {
  position: relative;
  display: inline-block;
}
.connectiong_business_title h2 span:before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url(/public/images/Vector-Smart-Object-copy-10.png);
  background-position: -94px 33%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.connectiong_business_inr_img_slider {
  position: absolute;
  inset: 0;
  mix-blend-mode: lighten;
}

.connectiong_business_inr_img_slider_otr {
  position: relative;
}
.connectiong_business_inr_img_slide_item img {
  margin: -100px 0 0 0;
}
.connectiong_business_inr_left_slide_item h3 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
  color: #fbb51a;
  text-align: center;
  text-transform: uppercase;
}

.connectiong_business_inr_left_slide_item strong {
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  width: 100%;
  padding: 67px 0 30px 0;
}

.connectiong_business_inr_left_slide_item p {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #0e0d0d;
}
.swiper_dot_pagination {
  position: relative;
  padding: 30px 0 0 0;
  text-align: center;
}

.swiper_dot_pagination .swiper-pagination-bullet {
  background: #3c3c3c;
  width: 50px;
  height: 6px;
  border-radius: 0;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.swiper_dot_pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fed11a;
}
.connectiong_business_inr {
  padding: 160px 0;
}
/******************** Connectiong Business CSS ********************/



/* /************************** Connectiong Business Section  ************************** / */

@media screen and (max-width:1800px) {
  section.connectiong_business {
      padding-top: 120px;
  }
  .connectiong_business_inr {
      padding: 120px 0;
  }
}

@media screen and (max-width:1700px) {
  section.connectiong_business {
      padding-top: 100px;
  }
  .connectiong_business_inr {
      padding: 100px 0;
  }
  .connectiong_business_title h2 strong {
      font-size: 120px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding-top: 50px;
  }
}

@media screen and (max-width:1600px) {
  section.connectiong_business::before {
      width: 100%;
  }
  .connectiong_business_title h2 {
      font-size: 70px;
      line-height: 1;
  }
  .connectiong_business_title h2 strong {
      font-size: 100px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 55px;
      line-height: 1;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding-top: 30px;
  }
  .connectiong_business_inr_img_slide_item img {
      margin-top: -40px;
  }
}

@media screen and (max-width:1440px) {
  .connectiong_business_inr_left_slide_item {
      padding-right: 30px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 22px;
      line-height: 32px;
  }
  .connectiong_business_title h2 strong {
      font-size: 70px;
  } 
  .connectiong_business_title h2 {
      font-size: 65px;
  }
}

@media screen and (max-width:1300px) {
  section.connectiong_business {
      padding-top: 80px;
  }
  .connectiong_business_inr {
      padding: 80px 0;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 45px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 20px 0;
      font-size: 28px;
  }
  .connectiong_business_title h2 strong {
      font-size: 70px;
  }
}

@media screen and (max-width:1200px) {
  .connectiong_business_inr {
      padding: 70px 0;
      max-width: 800px;
      margin: 0 auto;
  }
  .connectiong_business_inr_img_slider_otr {
      margin-bottom: 50px;
      order: 1;
  }
  .connectiong_business_inr_left_slider  {
      order: 2;
  }
  .connectiong_business_inr_left_slide_item {
      padding-right: 0;
  }
}

@media screen and (max-width:992px) {
  section.connectiong_business {
      padding-top: 70px;
  }
  .connectiong_business_title {
      max-width: 100%;
  }
  .connectiong_business_title h2 {
      font-size: 50px;
  }
  .connectiong_business_title h2 strong {
      font-size: 55px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 40px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 15px 0;
      font-size: 26px;
  }
}

@media screen and (max-width:767px) {
  section.connectiong_business {
      padding-top: 50px;
  }
  .connectiong_business_title h2 {
      font-size: 40px;
  }
  .connectiong_business_title h2 strong {
      font-size: 45px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 35px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 18px;
      line-height: 27px;
  }
  .connectiong_business_inr {
      padding: 50px 0;
  }
}

@media screen and (max-width:575px) {
  .connectiong_business_title h2 {
      font-size: 35px;
  }
  .connectiong_business_title h2 strong {
      font-size: 40px;
  }
  .connectiong_business_inr_img_slider_otr {
      margin-bottom: 30PX;
  }
}

@media screen and (max-width:479px) {
  .connectiong_business_title h2 {
      font-size: 25px;
  }
  .connectiong_business_title h2 strong {
      font-size: 30px;
  }
  section.connectiong_business {
      padding-top: 40px;
  } 
  .connectiong_business_inr_img_slide_item img {
      margin-top: -11px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 25px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 13px 0;
      font-size: 21px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 16px;
      line-height: 26px;
  }
 
  .connectiong_business_inr {
      padding: 40px 0;
  }
}

@media screen and (max-width:374px) {
  .connectiong_business_title h2 strong {
      font-size: 26px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 22px;
  }
  .connectiong_business_inr {
      padding-bottom: 30PX;
  }
}


/* /************************** Connectiong Business Section  ************************** / */

