
/******************** Connectiong Business CSS ********************/
section.connectiong_business {
  padding: 138px 0 0;
  position: relative;
}
section.connectiong_business::before {
  position: absolute;
  content: "";
  background: url(/public/images/bg_pattern.svg) no-repeat;
  width: 116%;
  height: 96%;
  bottom: -31%;
  background-size: cover;
  opacity: 0.15;
  left: 50%;
  transform: translateX(-50%);
}
.connectiong_business_title h2 {
  text-align: center;
  font-size: 83px;
  line-height: 103px;
  color: #0a0a0a;
  font-weight: 900;
  text-transform: uppercase;
  /* background-image: url(../images/Vector-Smart-Object-copy-10.png); */
  display: inline-block;
  background-position: -120px 19%;
  background-repeat: no-repeat;
}

.connectiong_business_title h2 strong {
  font-size: 131px;
  color: #956802;
  font-weight: 900;
  display: block;
  position: relative;
  mix-blend-mode: hard-light;
  background-color: white;
}

.connectiong_business_title {
  max-width: 70%;
  margin: 0 auto;
  min-height: 350px;
}
.connectiong_business_title h2 span {
  position: relative;
  display: inline-block;
}
.connectiong_business_title h2 span:before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url(/public/images/Vector-Smart-Object-copy-10.png);
  background-position: -94px 33%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.connectiong_business_inr_img_slider {
  position: absolute;
  inset: 0;
  mix-blend-mode: lighten;
}

.connectiong_business_inr_img_slider_otr {
  position: relative;
}
.connectiong_business_inr_img_slide_item img {
  margin: 0 0 0 0;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.connectiong_business_inr_left_slide_item h3 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
  color: #fbb51a;
  text-align: center;
  text-transform: uppercase;
}

.connectiong_business_inr_left_slide_item strong {
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  width: 100%;
  padding: 67px 0 30px 0;
}

.connectiong_business_inr_left_slide_item p {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #0e0d0d;
}
.swiper_dot_pagination {
  position: relative;
  padding: 30px 0 0 0;
  text-align: center;
}

.swiper_dot_pagination .swiper-pagination-bullet {
  background: #3c3c3c;
  width: 50px;
  height: 6px;
  border-radius: 0;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.swiper_dot_pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fed11a;
}
.connectiong_business_inr {
  padding: 160px 0;
}
.connectiong_business_row_right {
  max-width: 776px;
  margin: 0 auto;
}

.animationBox {
  display: none;
}

.animationBox.active {
  display: block;
}

/* Text Animation svg add */
.mv-svg-title .text-path {
  display: block;
  fill: #fbb51a !important;
  fill-opacity: 0;
  stroke: url(#gradation-1);
  stroke-linecap: round;
  stroke-linejoin: round;
}
.mv-svg-title .text-path.new-text-info {
    fill: #000 !important;
}
.mv-svg-title .text-path {
  /* 日本語の10文字に適用するアニメーション */
  /* 英語の26文字に適用するアニメーション */
}
.mv-svg-title .text-path:nth-child(1) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(2) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(3) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(4) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(5) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(6) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(7) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(8) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(9) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(10) {
  -webkit-animation: dash1 2s linear forwards;
          animation: dash1 2s linear forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
}
.mv-svg-title .text-path:nth-child(11) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(12) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(13) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(14) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(15) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(16) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(17) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(18) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(19) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(20) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(21) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(22) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(23) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(24) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(25) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(26) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(27) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(28) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(29) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(30) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.76s;
          animation-delay: 0.76s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(31) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(32) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(33) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(34) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(35) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(36) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(35) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(36) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(37) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(38) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(39) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
  stroke-dasharray: 200;
}

.mv-svg-title .text-path:nth-child(40) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.16s;
          animation-delay: 1.16s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(41) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.20s;
          animation-delay: 1.20s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(42) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.24s;
          animation-delay: 1.24s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(43) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.28s;
          animation-delay: 1.28s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(44) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.32s;
          animation-delay: 1.32s;
  stroke-dasharray: 200;
}

.mv-svg-title .text-path:nth-child(45) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.36s;
          animation-delay: 1.36s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(46) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.40s;
          animation-delay: 1.40s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(47) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.44s;
          animation-delay: 1.44s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(48) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.48s;
          animation-delay: 1.48s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(49) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.52s;
          animation-delay: 1.52s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(50) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.54s;
          animation-delay: 1.54s;
  stroke-dasharray: 200;
}
.mv-svg-title .text-path:nth-child(51) {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  -webkit-animation-delay: 1.60s;
          animation-delay: 1.60s;
  stroke-dasharray: 200;
}
@-webkit-keyframes dash1 {
  0% {
    stroke-dashoffset: 800;
    stroke-width: 3px;
  }
  50% {
    stroke-dashoffset: 1600;
    stroke-width: 0.1px;
  }
  50.1% {
    stroke-dashoffset: 800;
  }
  80% {
    stroke-width: 2px;
    fill: #fbb51a;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #000;
    stroke-width: 0;
    fill: #000;
    fill-opacity: 1;
    stroke-dasharray: 400;
  }
}
@keyframes dash1 {
  0% {
    stroke-dashoffset: 800;
    stroke-width: 3px;
  }
  50% {
    stroke-dashoffset: 1600;
    stroke-width: 0.1px;
  }
  50.1% {
    stroke-dashoffset: 800;
  }
  80% {
    stroke-width: 2px;
    fill: #fbb51a;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #000;
    stroke-width: 0;
    fill: #000;
    fill-opacity: 1;
    stroke-dasharray: 400;
  }
}
@-webkit-keyframes dash1_en {
  0% {
    stroke-dashoffset: 200;
    stroke-width: 2px;
  }
  50% {
    stroke-dashoffset: 400;
    stroke-width: 0.1px;
  }
  50.1% {
    stroke-dashoffset: 200;
  }
  80% {
    stroke-width: 1px;
    fill: #fbb51a;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #000;
    stroke-width: 0;
    fill: #000;
    fill-opacity: 1;
  }
}
@keyframes dash1_en {
  0% {
    stroke-dashoffset: 200;
    stroke-width: 2px;
  }
  50% {
    stroke-dashoffset: 400;
    stroke-width: 0.1px;
  }
  50.1% {
    stroke-dashoffset: 200;
  }
  80% {
    stroke-width: 1px;
    fill: #fbb51a;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #000;
    stroke-width: 0;
    fill: #000;
    fill-opacity: 1;
  }
}
/******************** Connectiong Business CSS ********************/
.animationBox svg {
  width: 100%;
  height: auto;
}


/* /************************** Connectiong Business Section  ************************** / */

@media screen and (max-width:1800px) {
  section.connectiong_business {
      padding-top: 120px;
  }
  .connectiong_business_inr {
      padding: 120px 0;
  }
}

@media screen and (max-width:1700px) {
  section.connectiong_business {
      padding-top: 100px;
  }
  .connectiong_business_inr {
      padding: 100px 0;
  }
  .connectiong_business_title h2 strong {
      font-size: 120px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding-top: 50px;
  }
  section.connectiong_business::before {
    width: auto;
  }
  .connectiong_business_title  {
    max-width: 65%;
  }
  .connectiong_business_title {
    min-height: 300px;
    text-align: center;
  }
}

@media screen and (max-width:1600px) {
  section.connectiong_business::before {
      width: auto;
  }
  .connectiong_business_title h2 {
      font-size: 70px;
      line-height: 1;
  }
  .connectiong_business_title h2 strong {
      font-size: 100px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 55px;
      line-height: 1;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding-top: 30px;
  }
  /* .connectiong_business_inr_img_slide_item img {
      margin-top: -40px;
  } */

  .connectiong_business_title {
    min-height: 265px;
  } 
}

@media screen and (max-width:1440px) {
  .connectiong_business_inr_left_slide_item {
      padding-right: 30px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 22px;
      line-height: 32px;
  }
  .connectiong_business_title h2 strong {
      font-size: 70px;
  } 
  .connectiong_business_title h2 {
      font-size: 65px;
  }
  .connectiong_business_title {
    min-height: 235px;
  }
}

@media screen and (max-width:1300px) {
  section.connectiong_business {
      padding-top: 80px;
  }
  .connectiong_business_inr {
      padding: 80px 0;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 45px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 20px 0;
      font-size: 28px;
  }
  .connectiong_business_title h2 strong {
      font-size: 70px;
  }
  .connectiong_business_title svg {
    max-width: 600px;
  }
  .connectiong_business_title {
    min-height: 180px;
  }
}

@media screen and (max-width:1200px) {
  .connectiong_business_inr {
      padding: 70px 0;
      max-width: 800px;
      margin: 0 auto;
  }
  .connectiong_business_inr_img_slider_otr {
      margin-bottom: 50px;
      order: 1;
  }
  .connectiong_business_inr_left_slider  {
      order: 2;
  }
  .connectiong_business_inr_left_slide_item {
      padding-right: 0;
  }
}

@media screen and (max-width:992px) {
  section.connectiong_business {
      padding-top: 70px;
  }
  .connectiong_business_title {
      max-width: 100%;
  }
  .connectiong_business_title h2 {
      font-size: 50px;
  }
  .connectiong_business_title h2 strong {
      font-size: 55px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 40px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 15px 0;
      font-size: 26px;
  }

  .connectiong_business_title svg {
    max-width: 500px;
}
.connectiong_business_title {
  min-height: 150px;
}

}

@media screen and (max-width:767px) {
  section.connectiong_business {
      padding-top: 50px;
  }
  .connectiong_business_title h2 {
      font-size: 40px;
  }
  .connectiong_business_title h2 strong {
      font-size: 45px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 35px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 18px;
      line-height: 27px;
  }
  .connectiong_business_inr {
      padding: 50px 0;
  }
  .connectiong_business_title svg {
    max-width: 450px;
  }
  .connectiong_business_title {
    min-height: 135px;
  }
}

@media screen and (max-width:575px) {
  .connectiong_business_title h2 {
      font-size: 35px;
  }
  .connectiong_business_title h2 strong {
      font-size: 40px;
  }
  .connectiong_business_inr_img_slider_otr {
      margin-bottom: 30PX;
  }
  .connectiong_business_title svg {
    max-width: 370px;
  }
  .connectiong_business_title {
    min-height: 110px;
  }
}

@media screen and (max-width:479px) {
  .connectiong_business_title h2 {
      font-size: 25px;
  }
  .connectiong_business_title h2 strong {
      font-size: 30px;
  }
  section.connectiong_business {
      padding-top: 40px;
  } 
  /* .connectiong_business_inr_img_slide_item img {
      margin-top: -11px;
  } */
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 25px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 13px 0;
      font-size: 21px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 16px;
      line-height: 26px;
  }
 
  .connectiong_business_inr {
      padding: 40px 0;
  }
  .connectiong_business_title svg {
    max-width: 90%;
  }
  .connectiong_business_title {
    min-height: 90px;
  }
}

@media screen and (max-width:374px) {
  .connectiong_business_title h2 strong {
      font-size: 26px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 22px;
  }
  .connectiong_business_inr {
      padding-bottom: 30PX;
  }
  .connectiong_business_title {
    min-height: 80px;
  }
}


/* /************************** Connectiong Business Section  ************************** / */

