
/******************** Connectiong Business CSS ********************/
section.connectiong_business {
  padding: 138px 0 0;
  position: relative;
}
section.connectiong_business::before {
  position: absolute;
  content: "";
  background: url(/public/images/bg_pattern.svg) no-repeat;
  width: 116%;
  height: 96%;
  bottom: -31%;
  background-size: cover;
  opacity: 0.15;
  left: 50%;
  transform: translateX(-50%);
}
.connectiong_business_title h2 {
  text-align: center;
  font-size: 83px;
  line-height: 103px;
  color: #0a0a0a;
  font-weight: 900;
  text-transform: uppercase;
  /* background-image: url(../images/Vector-Smart-Object-copy-10.png); */
  display: inline-block;
  background-position: -120px 19%;
  background-repeat: no-repeat;
}

.connectiong_business_title h2 strong {
  font-size: 131px;
  color: #956802;
  font-weight: 900;
  display: block;
  position: relative;
  mix-blend-mode: hard-light;
  background-color: white;
}

.connectiong_business_title {
  max-width: 70%;
  margin: 0 auto;
  min-height: 360px;
}
.connectiong_business_title h2 span {
  position: relative;
  display: inline-block;
}
.connectiong_business_title h2 span:before {
  position: absolute;
  content: "";
  inset: 0;
  background-image: url(/public/images/Vector-Smart-Object-copy-10.png);
  background-position: -94px 33%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.connectiong_business_inr_img_slider {
  position: absolute;
  inset: 0;
  mix-blend-mode: lighten;
}

.connectiong_business_inr_img_slider_otr {
  position: relative;
}
.connectiong_business_inr_img_slide_item img {
  margin: 0 0 0 0;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.connectiong_business_inr_left_slide_item h3 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 900;
  color: #fbb51a;
  text-align: center;
  text-transform: uppercase;
}

.connectiong_business_inr_left_slide_item strong {
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  width: 100%;
  padding: 67px 0 30px 0;
}

.connectiong_business_inr_left_slide_item p {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #0e0d0d;
}
.swiper_dot_pagination {
  position: relative;
  padding: 30px 0 0 0;
  text-align: center;
}

.swiper_dot_pagination .swiper-pagination-bullet {
  background: #3c3c3c;
  border-radius: 0;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.swiper_dot_pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fed11a;
}
.connectiong_business_inr {
  padding: 160px 0;
}
.connectiong_business_row_right {
  max-width: 776px;
  margin: 0 auto;
}

.animationBox {
  display: none;
}

.animationBox.active {
  display: block;
}

/* Text Animation svg add */
.animationBox svg path {
  display: block;
  fill-opacity: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.animationBox svg path {
  -webkit-animation: dash1_en 2s linear forwards;
          animation: dash1_en 2s linear forwards;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

@-webkit-keyframes dash1_en {
  0% {
    stroke-dashoffset: 200;
    stroke-width: 2px;
  }
  50% {
    stroke-dashoffset: 400;
    stroke-width: 0.1px;
  }
  50.1% {
    stroke-dashoffset: 200;
  }
  80% {
    stroke-width: 1px;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #000;
    stroke-width: 0;
    fill-opacity: 1;
  }
}
@keyframes dash1_en {
  0% {
    stroke-dashoffset: 200;
    stroke-width: 2px;
  }
  50% {
    stroke-dashoffset: 400;
    stroke-width: 0.1px;
  }
  50.1% {
    stroke-dashoffset: 200;
  }
  80% {
    stroke-width: 1px;
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #000;
    stroke-width: 0;
    fill-opacity: 1;
  }
}
/******************** Connectiong Business CSS ********************/
.animationBox svg {
  width: 100%;
  height: auto;
}


/* /************************** Connectiong Business Section  ************************** / */

@media screen and (max-width:1800px) {
  section.connectiong_business {
      padding-top: 120px;
  }
  .connectiong_business_inr {
      padding: 120px 0;
  }
}

@media screen and (max-width:1700px) {
  section.connectiong_business {
      padding-top: 100px;
  }
  .connectiong_business_inr {
      padding: 100px 0;
  }
  .connectiong_business_title h2 strong {
      font-size: 120px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding-top: 50px;
  }
  section.connectiong_business::before {
    width: auto;
  }
  .connectiong_business_title  {
    max-width: 65%;
  }
  .connectiong_business_title {
    min-height: 300px;
    text-align: center;
  }
}

@media screen and (max-width:1600px) {
  section.connectiong_business::before {
      width: auto;
  }
  .connectiong_business_title h2 {
      font-size: 70px;
      line-height: 1;
  }
  .connectiong_business_title h2 strong {
      font-size: 100px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 55px;
      line-height: 1;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding-top: 30px;
  }
  /* .connectiong_business_inr_img_slide_item img {
      margin-top: -40px;
  } */

  .connectiong_business_title {
    min-height: 265px;
  } 
}

@media screen and (max-width:1440px) {
  .connectiong_business_inr_left_slide_item {
      padding-right: 30px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 22px;
      line-height: 32px;
  }
  .connectiong_business_title h2 strong {
      font-size: 70px;
  } 
  .connectiong_business_title h2 {
      font-size: 65px;
  }
  .connectiong_business_title {
    min-height: 235px;
  }
}

@media screen and (max-width:1300px) {
  section.connectiong_business {
      padding-top: 80px;
  }
  .connectiong_business_inr {
      padding: 80px 0;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 45px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 20px 0;
      font-size: 28px;
  }
  .connectiong_business_title h2 strong {
      font-size: 70px;
  }
  .connectiong_business_title svg {
    max-width: 600px;
  }
  .connectiong_business_title {
    min-height: 180px;
  }
}

@media screen and (max-width:1200px) {
  .connectiong_business_inr {
      padding: 70px 0;
      max-width: 800px;
      margin: 0 auto;
  }
  .connectiong_business_inr_img_slider_otr {
      margin-bottom: 50px;
      order: 1;
  }
  .connectiong_business_inr_left_slider  {
      order: 2;
  }
  .connectiong_business_inr_left_slide_item {
      padding-right: 0;
  }
}

@media screen and (max-width:992px) {
  section.connectiong_business {
      padding-top: 70px;
  }
  .connectiong_business_title {
      max-width: 100%;
  }
  .connectiong_business_title h2 {
      font-size: 50px;
  }
  .connectiong_business_title h2 strong {
      font-size: 55px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 40px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 15px 0;
      font-size: 26px;
  }

  .connectiong_business_title svg {
    max-width: 500px;
}
.connectiong_business_title {
  min-height: 150px;
}

}

@media screen and (max-width:767px) {
  section.connectiong_business {
      padding-top: 50px;
  }
  .connectiong_business_title h2 {
      font-size: 40px;
  }
  .connectiong_business_title h2 strong {
      font-size: 45px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 35px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 18px;
      line-height: 27px;
  }
  .connectiong_business_inr {
      padding: 50px 0;
  }
  .connectiong_business_title svg {
    max-width: 450px;
  }
  .connectiong_business_title {
    min-height: 135px;
  }
}

@media screen and (max-width:575px) {
  .connectiong_business_title h2 {
      font-size: 35px;
  }
  .connectiong_business_title h2 strong {
      font-size: 40px;
  }
  .connectiong_business_inr_img_slider_otr {
      margin-bottom: 30PX;
  }
  .connectiong_business_title svg {
    max-width: 370px;
  }
  .connectiong_business_title {
    min-height: 110px;
  }
}

@media screen and (max-width:479px) {
  .connectiong_business_title h2 {
      font-size: 25px;
  }
  .connectiong_business_title h2 strong {
      font-size: 30px;
  }
  section.connectiong_business {
      padding-top: 40px;
  } 
  /* .connectiong_business_inr_img_slide_item img {
      margin-top: -11px;
  } */
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 25px;
  }
  .connectiong_business_inr_left_slide_item strong {
      padding: 13px 0;
      font-size: 21px;
  }
  .connectiong_business_inr_left_slide_item p {
      font-size: 16px;
      line-height: 26px;
  }
 
  .connectiong_business_inr {
      padding: 40px 0;
  }
  .connectiong_business_title svg {
    max-width: 90%;
  }
  .connectiong_business_title {
    min-height: 90px;
  }
}

@media screen and (max-width:374px) {
  .connectiong_business_title h2 strong {
      font-size: 26px;
  }
  .connectiong_business_inr_left_slide_item h3 {
      font-size: 22px;
  }
  .connectiong_business_inr {
      padding-bottom: 30PX;
  }
  .connectiong_business_title {
    min-height: 80px;
  }
}


/* /************************** Connectiong Business Section  ************************** / */

