@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mr+Dafoe&family=Russo+One&display=swap");
/* font-family: "Montserrat", sans-serif;
font-family: "Mr Dafoe", cursive;
font-family: "Russo One", sans-serif; */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #333;
  margin: 0;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  outline: none;
  color: #f58020;
}

a:hover {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  border: none;
}

input,
select,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #000;
}

iframe {
  max-width: 100%;
  border: none;
  width: 100%;
  height: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clr,
.cl,
.clear {
  clear: both;
}

input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #333;
}

.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  content: "";
}

textarea {
  resize: none;
  min-height: 82px;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: 1px solid #dddddd;
  background: #fff;
  padding: 0 13px;
  box-shadow: none;
  height: 49px;
  max-width: 100%;
  border-radius: 0px;
  width: 100%;
}

input[type="search"] {
  -webkit-appearance: none;
}

textarea {
  line-height: normal;
  padding: 9px;
  width: 100%;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #0eb1fe;
  background: #f9f9f9;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

select {
  border: 1px solid #dddddd;
  background: #fff;
  max-width: 100%;
  border-radius: 3px;
  padding: 15px 13px;
}

input[type="image"],
input[type="submit"],
input[type="button"],
button {
  background: #f1592a;
  border: medium none;
  border-radius: 0px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 0px 23px;
  text-transform: uppercase;
  height: 40px;
  transition: all 0.3s ease-in-out 0s;
  font-weight: bold;
  appearance: normal;
  -webkit-appearance: none;
  max-width: 100%;
}

input[type="image"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background-color: #555;
}

input[type="image"]:active,
input[type="submit"]:active,
input[type="button"]:active,
button:active {
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1860px; /*1760px*/
}
.russo-one {
  font-family: "Russo One", sans-serif;
}
.mr_dafoe {
  font-family: "Mr Dafoe", cursive;
}

/****************** Common CSS *******************/
.bdr_btn_white a {
  color: #f9f9f9;
  border-color: #f3f3f3;
  border: 2px solid;
  border-radius: 5px;
  font-size: 23px;
  font-weight: 600;
  padding: 11px 18px;
  display: inline-block;
  transition: all 0.3s ease-in-out 0s;
}

.bdr_btn_white a:hover {
  background: #f3f3f3;
  color: #000000;
}
.bg-white-main {
  background-color: #fff;
}

.what_attendees_bg_fixed_videos {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: -2;
}
.what_attendees_bg_fixed_videos:before {
  position: fixed;
  content: "";
  left: 0;
  right: 0;
  height: 70%;
  opacity: 0.8;
  bottom: 0;
  background: rgb(81, 68, 55);
  background: -moz-linear-gradient(
    0deg,
    rgba(81, 68, 55, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(81, 68, 55, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(81, 68, 55, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
.what_attendees_bg_fixed_videos img, .what_attendees_bg_fixed_videos video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.what_attendees_say_video {
  opacity: 0;
}

.title_box {
  text-align: center;
}

.title_box h2 {
  font-size: 64px;
  color: #0e0d0d;
  font-weight: 900;
  text-transform: uppercase;
}

.title_box p {
  max-width: 69%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 36px;
  color: #0e0d0d;
  padding: 44px 0 0 0;
}
/****************** Common CSS *******************/









/* /************************** Common CSS (APP.css) ************************** / */

@media screen and (max-width:1800px) {}

@media screen and (max-width:1700px) {}

@media screen and (max-width:1600px) {
    .title_box h2 {
        font-size: 50px;
    }
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1300px) {
    .bdr_btn_white a {
        font-size: 20px;
    }
    .title_box h2 {
        font-size: 45px;
    }
}

@media screen and (max-width:1200px) {
    .title_box h2 {
        font-size: 40px;
    }
}

@media screen and (max-width:992px) {}

@media screen and (max-width:767px) {
    .title_box h2 {
        font-size: 32px;
    }
}

@media screen and (max-width:575px) {
    .title_box h2 {
        font-size: 27px;
    }
}

@media screen and (max-width:479px) {
    .swiper_dot_pagination .swiper-pagination-bullet {
        width: 40px;
        height: 4px;
    }
    .title_box h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:374px) {
    .title_box h2 {
        font-size: 22px;
    }
}


/* /************************** Common CSS (APP.css) ************************** / */

